In [1]:
! pip install pyodbc # to connect to mssql
! pip install mssql  
! pip install python-dotenv  # to hide password
! pip install pymysql  # to connect to Mysql
! pip install mysql

Requirement already satisfied: pyodbc in /opt/anaconda3/envs/glueviz/lib/python3.11/site-packages (5.3.0)
Requirement already satisfied: mssql in /opt/anaconda3/envs/glueviz/lib/python3.11/site-packages (1.0.1)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/envs/glueviz/lib/python3.11/site-packages (from mssql) (2.0.44)
Requirement already satisfied: pyodbc in /opt/anaconda3/envs/glueviz/lib/python3.11/site-packages (from mssql) (5.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/envs/glueviz/lib/python3.11/site-packages (from sqlalchemy->mssql) (4.11.0)
Requirement already satisfied: python-dotenv in /opt/anaconda3/envs/glueviz/lib/python3.11/site-packages (1.2.1)
Requirement already satisfied: pymysql in /opt/anaconda3/envs/glueviz/lib/python3.11/site-packages (1.1.2)
Collecting mysql
  Using cached mysql-0.0.3-py3-none-any.whl.metadata (746 bytes)
Collecting mysqlclient (from mysql)
  Using cached mysqlclient-2.2.7.tar.gz (91 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... error
  error: subprocess-exited-with-error

  × Getting requirements to build wheel did not run successfully.
  │ exit code: 1
  ╰─> [33 lines of output]
      Trying pkg-config --exists mysqlclient
      /bin/sh: pkg-config: command not found
      Command 'pkg-config --exists mysqlclient' returned non-zero exit status 127.
      Trying pkg-config --exists mariadb
      /bin/sh: pkg-config: command not found
      Command 'pkg-config --exists mariadb' returned non-zero exit status 127.
      Trying pkg-config --exists libmariadb
      /bin/sh: pkg-config: command not found
      Command 'pkg-config --exists libmariadb' returned non-zero exit status 127.
      Trying pkg-config --exists perconaserverclient
      /bin/sh: pkg-config: command not found
      Command 'pkg-config --exists perconaserverclient' returned non-zero exit status 127.
      Traceback (most recent call last):
        File "/opt/anaconda3/envs/glueviz/lib/python3.11/site-packages/pip/_vendor/pyproject_hooks/_in_process/_in_process.py", line 353, in <module>
          main()
        File "/opt/anaconda3/envs/glueviz/lib/python3.11/site-packages/pip/_vendor/pyproject_hooks/_in_process/_in_process.py", line 335, in main
          json_out['return_val'] = hook(**hook_input['kwargs'])
                                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        File "/opt/anaconda3/envs/glueviz/lib/python3.11/site-packages/pip/_vendor/pyproject_hooks/_in_process/_in_process.py", line 118, in get_requires_for_build_wheel
          return hook(config_settings)
                 ^^^^^^^^^^^^^^^^^^^^^
        File "/private/var/folders/8q/nzhg3bfj2l516c8hwkwftkbm0000gn/T/pip-build-env-fg2xo2ch/overlay/lib/python3.11/site-packages/setuptools/build_meta.py", line 331, in get_requires_for_build_wheel
          return self._get_build_requires(config_settings, requirements=[])
                 ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        File "/private/var/folders/8q/nzhg3bfj2l516c8hwkwftkbm0000gn/T/pip-build-env-fg2xo2ch/overlay/lib/python3.11/site-packages/setuptools/build_meta.py", line 301, in _get_build_requires
          self.run_setup()
        File "/private/var/folders/8q/nzhg3bfj2l516c8hwkwftkbm0000gn/T/pip-build-env-fg2xo2ch/overlay/lib/python3.11/site-packages/setuptools/build_meta.py", line 317, in run_setup
          exec(code, locals())
        File "<string>", line 156, in <module>
        File "<string>", line 49, in get_config_posix
        File "<string>", line 28, in find_package_name
      Exception: Can not find valid pkg-config name.
      Specify MYSQLCLIENT_CFLAGS and MYSQLCLIENT_LDFLAGS env vars manually
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: subprocess-exited-with-error

× Getting requirements to build wheel did not run successfully.
│ exit code: 1
╰─> See above for output.

note: This error originates from a subprocess, and is likely not a problem with pip.

## importing all important library to conect with python, mysql and mssql(Azure)

In [2]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import os
import pymysql
from dotenv import load_dotenv
import mysql

In [3]:
os.getcwd()  # understanding the directory where our files are stored

'/'

In [4]:
# chanding dir to local to read .env file
os.chdir('/Users/pankajkumar/Documents/Github/Data-Analysis-With-Python-MySQL')
os.listdir()

['Connection(MySQL+Pyhton).ipynb', 'README.md', '.env', '.git']

### Accessing passwords from local .env file

In [5]:
load_dotenv() # to load .env file
password = os.getenv("PASSWORD")
user = os.getenv("UID")
PASSALCHEMY = os.getenv("PASSALCHEMY")

## Making connection between Azure and Python through ODBC driver

In [6]:
# connecting sting ( you will see it on your azure sql database settings )
# its odbc diver string 
# you can read this document how to install this Driver in your pc ( https://learn.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server )
con_str = (
    "Driver={ODBC Driver 18 for SQL Server};"
    "Server=tcp:pankaj.database.windows.net,1433;"
    "Database=Sales;"
    f"Uid={user};"
    f"Pwd={password};"
    "Encrypt=yes;"
    "TrustServerCertificate=no;"
    "Connection Timeout=30;"
)

conn_auzer = pyodbc.connect(con_str)

In [7]:
cursor_auzer = conn_auzer.cursor()  #cursor to execute mssql command

## Making Another bridge between Azure and Python through ODBC driver and mssql

In [8]:
engine_auzer = create_engine(f'mssql+pyodbc://pankaj:{PASSALCHEMY}@pankaj.database.windows.net:1433/Sales?Driver=ODBC+Driver+18+for+SQL+Server&Encrypt=yes&TrustServerCertificate=no&Connection+Timeout=30')

/var/folders/8q/nzhg3bfj2l516c8hwkwftkbm0000gn/T/ipykernel_63713/2790278303.py:1: SAWarning: No driver name specified; this is expected by PyODBC when using DSN-less connections
  engine_auzer = create_engine(f'mssql+pyodbc://pankaj:{PASSALCHEMY}@pankaj.database.windows.net:1433/Sales?Driver=ODBC+Driver+18+for+SQL+Server&Encrypt=yes&TrustServerCertificate=no&Connection+Timeout=30')

### Making bridge to my another MySQL Database to get data

In [9]:
engine_local = create_engine(f'mysql+pymysql://pankaj:PAnku%401122@mysql-pankaj.alwaysdata.net/pankaj_sales_db')

In [10]:
# accessing data from Mysql Database
tables_in_local = pd.read_sql('Show Tables;', con = engine_local)
tables_in_local = tables_in_local['Tables_in_pankaj_sales_db'].to_list()
tables_in_local

['brands',
 'categories',
 'customers',
 'order_items',
 'orders',
 'products',
 'staffs',
 'stocks',
 'stores']

## Taking data from first server and upload to Azure database

In [11]:
# Making two function to get and send data from first server to second server

def Readfromlocalserver(TableName):
    TableData = pd.read_sql(TableName, con = engine_local )
    return TableData

def Send_to_azure(TableName):
    TableData = Readfromlocalserver(TableName)
    TableData.to_sql(TableName, con=engine_auzer, if_exists='replace')
    return "Data Uploaded"

In [12]:
# A loop to insert all the tables from 1st database to second database 

for table in tables_in_local:
    try:
        result = Send_to_azure(table)
        print(result)
    except Exception as e:
        print(f"❌ Error uploading {table}: {e}")

Data Uploaded
Data Uploaded
Data Uploaded
Data Uploaded
Data Uploaded
Data Uploaded
Data Uploaded
Data Uploaded
Data Uploaded

In [13]:
# Checking uploaded data in Azure Database

pd.read_sql('SELECT * FROM sys.tables;', con = engine_auzer)

,name,object_id,principal_id,schema_id,parent_object_id,type,type_desc,create_date,modify_date,is_ms_shipped,...,history_retention_period_unit_desc,is_node,is_edge,data_retention_period,data_retention_period_unit,data_retention_period_unit_desc,ledger_type,ledger_type_desc,ledger_view_id,is_dropped_ledger_table
0,brands,1989582126,None,1,0,U,USER_TABLE,2025-11-05 22:51:17.427,2025-11-05 22:51:17.497,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
1,categories,2005582183,None,1,0,U,USER_TABLE,2025-11-05 22:51:20.137,2025-11-05 22:51:20.203,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
2,customers,2021582240,None,1,0,U,USER_TABLE,2025-11-05 22:51:23.063,2025-11-05 22:51:23.133,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
3,order_items,2037582297,None,1,0,U,USER_TABLE,2025-11-05 22:51:27.643,2025-11-05 22:51:27.710,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
4,orders,2053582354,None,1,0,U,USER_TABLE,2025-11-05 22:51:31.747,2025-11-05 22:51:31.823,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
5,products,2069582411,None,1,0,U,USER_TABLE,2025-11-05 22:51:35.840,2025-11-05 22:51:35.910,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
6,staffs,2085582468,None,1,0,U,USER_TABLE,2025-11-05 22:51:38.610,2025-11-05 22:51:38.680,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
7,stocks,2101582525,None,1,0,U,USER_TABLE,2025-11-05 22:51:41.300,2025-11-05 22:51:41.370,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False
8,stores,2117582582,None,1,0,U,USER_TABLE,2025-11-05 22:51:44.223,2025-11-05 22:51:44.293,False,...,None,False,False,-1,-1,INFINITE,0,NON_LEDGER_TABLE,None,False

#### Uploading the tables that failed to upload through loop

In [16]:


brands = pd.read_sql('Select * from brands;', con = engine_local)
categories = pd.read_sql('Select * from categories;', con = engine_local)

In [17]:
brands.to_sql('brands', con = engine_auzer, if_exists='replace')

9

In [18]:
categories.to_sql('categories', con = engine_auzer, if_exists='replace')

7

# All the data has been uploaded to frist server to another server