# Connecting Python with MySQL server

## Installing Important Library

In [ ]:
! pip install pandas
! pip install sqlalchemy
! pip install mysql.connector
! pip install pymysql

In [2]:
# Importing necessary libraries

# pandas is used for data manipulation and analysis
import pandas as pd  


# mysql.connector is used to establish a direct connection between Python and a MySQL database
import mysql.connector  

# sqlalchemy provides a high-level interface for working with databases; create_engine helps connect using connection strings
from sqlalchemy import create_engine  

# pymysql: a MySQL database connector often used as a driver for SQLAlchemy
import pymysql

# os provides functions to interact with the operating system, such as handling file paths or environment variables
import os

### Creating first bridge between Python and MySQL server

In [3]:
# ==========================
# Connecting to the MySQL Database
# ==========================

# Example format for SQLAlchemy connection string:
# 'mysql+pymysql://username:password@host/database_name'
# 
# - mysql+pymysql → specifies the database dialect (MySQL) and driver (PyMySQL)
# - username:password → your database credentials
# - host → database server location (e.g., localhost or remote server)
# - database_name → name of the database you want to connect to

# Creating a SQLAlchemy engine for connecting to the remote MySQL database
engine = create_engine('mysql+pymysql://pankaj:PAnku%401122@mysql-pankaj.alwaysdata.net/pankaj_sales_db')

# ⚠️ Note:
# - The password here is URL-encoded (e.g., @ → %40)
# - Avoid hardcoding credentials directly in your script.
#   Instead, use environment variables or a .env file for better security, e.g.:
#   engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{database}")
#   here the password is for better understanding

### Creating second connection between MySQL and Python

In [4]:
connection = mysql.connector.connect(
    host = 'mysql-pankaj.alwaysdata.net',
    user = 'pankaj',
    password = 'PAnku@1122',
    database = 'pankaj_sales_db'
)

In [5]:
cursor = connection.cursor()

In [10]:
# Accessing The Database fron engine

Tables = pd.read_sql('Show Tables;', con= engine)
Tables

  Tables_in_pankaj_sales_db
0                    brands
1                categories
2                 customers
3               order_items
4                    orders
5                  products
6                    staffs
7                    stocks
8                    stores

In [9]:
# Accessing The Database fron mysql.connection

cursor.execute("Show Tables;") 
data = cursor.fetchall()
data = pd.DataFrame(data)
data

             0
0       brands
1   categories
2    customers
3  order_items
4       orders
5     products
6       staffs
7       stocks
8       stores

In [8]:
os.getcwd()

'/'